body {
    background-color: rgb(77, 77, 77);
    
}
.containAll{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: black solid;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    background-color: burlywood;
}
.container-buttons{
    border: inset 2px black;
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    margin: 50px;
}

.container-results{
    border: solid 2px black;
    border-radius: 8px;
    background-color: greenyellow;
    min-width: 500px;
    margin: 50px;
    text-align: center;
}

.container-images{
    border: solid 2px black;
    border-radius: 8px;
    background-color: rgb(65, 65, 65);
    min-width: 1000px;
    min-height: 500px;
    margin: 50px;
    display: flex;
    justify-content: space-between;

}

.container-choice-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    color: black;
    text-shadow: 0px 3px white;

}

h3{
    color: white;
}

button{
    min-width: 100px;
    font-size: 20px;
    font-weight: 800;
}

p {
    font-weight: 800;
    font-size: 25px;
}

.rock{
    background: lightslategray;
}
.paper{
    background: antiquewhite;
}
.scissors{
    background: red;
}